################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/WpfApp1/.vs/Grab!/v15/Server/sqlite3
